<li>
    <% if(post.comments.length > 0) { %>
      <% for(comment of post.comments) { %>
        <div>
          <p>
            <%= comment.content %>
            
          </p>
          <small><%= comment.user.name %></small>

          

        </div>
        
        

        <%} %>
        <%} %>

  </li>
