<!-- this type of name is use so that it can be easily identified -->

<footer>
  <div >
    Designned by Priyanshu  &#64; <span style="font-weight: 900">Codiel&trade;</span>
  </div>
  <% if(locals.user){ %>

  <div class="menu-below">
    <a   href="/">Home</a>
    <a   href="/users/profile">Profile</a>
  </div>
  <% } %>
</footer>
