<header>
  <div id="logo">
    Codiel
  </div>

  <div>

    <ul>

        <% if(locals.user){ %>
            <li>
                
                <a id="header-dp" href="/users/profile">
                    <img id="small-dp" src="<%= user.avatar %>" alt="X" width="20">
                    <span><%= user.name %></span>
                    
                </a>
            </li>
    
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
    
            <% } else { %>
                <li>
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>
    
                <% } %>
      </ul>

  </div>

  
</header>
