  <!-- layout is fixed and layout has a body part where the ejs files will be rendered
 so you have to put only the boday part -->
 <link rel="stylesheet" href="/css/home.css">

    <h1>
        Codeail / <%= title %>  
    </h1>
     

 