<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        <%= title %> 
    </title>
</head>
<body>
    <!-- <header>
        Page header
    </header> -->
    <!-- above code is replaced with below .ejs file
     -->
     <%- include('-header.ejs'); %>

    <h1>Codeail / <%= title %>  </h1>
     

     <!-- -- --------------------------------  
     footer ejs is added
     ----------------------------------------------------   -->
     <%- include('-footer.ejs'); %>


</body>
</html>