<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('_header'); %>

    <!-- we have to tell where is the variable part  -->

    <%- body %> 
    
    <%- include('_footer'); %>
  </body>
</html>
