
<h1 id="Sign-in">Sign In</h1>

<!-- session is created when the user is logged In -->
<form action="/users/create-session" method="POST">

    <input type="email" name="email" placeholder="Enter Email" required >
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit" value=""> &rsaquo;</button>


</form>

<p>
    <a href="/users/auth/google">Google sign-in / sign-up</a>
</p>