<div >
    
    <p style="background-color: aqua;" >Hi <%= comment.user.name %>!</p>

    <br>
    <br>
    <p>Your Comment <strong><%= comment.content%></strong> just got published on Codiel.</p>
    <br>
    <br>
    <p style="color: rgb(48, 3, 229);">Thanks!</p>
</div>