#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#feed-posts h4 {
  text-align: center; }

#new-post-form button {
  margin-top: 20px; }

#posts-list-container ul {
  display: flex;
  flex-direction: column; }
  #posts-list-container ul li {
    height: auto;
    margin-bottom: 1.5rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px; }
    #posts-list-container ul li p {
      font-weight: 900; }
    #posts-list-container ul li small {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 200; }

.post-comment-lists ul {
  list-style: none; }
  .post-comment-lists ul li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 389px;
    background-color: whitesmoke;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 20px;
    height: 10px;
    font-weight: 500; }

#delete-button {
  color: black;
  background-color: aqua; }
