.toggle-like-button {
  color: #008bf6; }

.add-friend-button {
  height: auto;
  width: 100px;
  font-size: 0.8rem;
  background-color: #4a4afd;
  color: white;
  border: none;
  padding: 3px 5px;
  border-radius: 5px; }

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#feed-posts h4 {
  text-align: center; }

#new-post-form button {
  margin-top: 20px; }

#posts-list-container ul {
  display: flex;
  flex-direction: column; }
  #posts-list-container ul li {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px; }
    #posts-list-container ul li p {
      font-weight: 900; }
    #posts-list-container ul li small {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 200; }

.post-comment-lists ul {
  list-style: none; }
  .post-comment-lists ul li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 389px;
    background-color: whitesmoke;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 20px;
    height: 10px;
    font-weight: 500; }

#delete-button {
  color: black;
  background-color: aqua; }

#user-friends ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #user-friends ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #user-friends ul li a {
      color: black;
      border: none; }

#layout-main #outer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start; }
  #layout-main #outer-box #user-friends {
    padding-left: 10px;
    height: 100vh;
    width: 410px; }
    #layout-main #outer-box #user-friends h4 {
      text-align: center; }
    #layout-main #outer-box #user-friends ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

#layout-main #like-button body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: arial; }

#layout-main #like-button #main-contentt {
  display: flex;
  width: 10vw;
  height: 10vh;
  background: white;
  align-items: center;
  justify-content: center;
  text-align: center; }

#layout-main #like-button h1 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 0;
  color: #888888; }

#layout-main #like-button a {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #008A68; }

#layout-main #like-button svg {
  cursor: pointer;
  overflow: visible;
  width: 60px; }
  #layout-main #like-button svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards; }
  #layout-main #like-button svg #main-circ {
    transform-origin: 29.5px 29.5px; }

#layout-main #like-button #checkbox {
  display: none; }

#layout-main #like-button #checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s; }

#layout-main #like-button #checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1; }

#layout-main #like-button #checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s; }
  #layout-main #like-button #checkbox:checked + label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s; }

#layout-main #like-button #checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s; }

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688; }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF; }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5; }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5; }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2; }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1; }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0; } }

@keyframes animateHeart {
  0% {
    transform: scale(0.2); }
  40% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }
