body #layout-main {
  background-color: #efefff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; }
  body #layout-main div h1 {
    font-weight: bold;
    font-size: 3.5em; }
  body #layout-main div p {
    text-align: center; }
  body #layout-main #update-button {
    border-radius: 20px;
    height: auto;
    width: auto;
    font-size: 1.7rem;
    padding: 0.6rem;
    margin-top: 2%; }
  body #layout-main img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 7px solid lightgrey; }
  body #layout-main #preview-button {
    border-radius: 20px;
    height: auto;
    width: auto;
    font-size: 1.7rem;
    padding: 0.6rem;
    margin-top: 2%; }
  body #layout-main #save-button {
    border-radius: 20px;
    height: auto;
    width: auto;
    font-size: 1.7rem;
    padding: 0.6rem;
    margin-top: 2%; }
  body #layout-main #avatar-input {
    background-color: azure; }
